.add-note{
    padding: 12px;
    margin: 16px;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    background-color: rgb(57, 167, 131);
}

.note{
    background-color: rgb(57, 167, 131);
    color: black;
    border : none;
}

.note:focus-visible{
    outline : none;
}
.note-input{
    /* width : 380px; */
    height: 280px;
}

::placeholder{
    color : black;
}

.note-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}