.notes-card{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
    background-color: rgb(177, 124, 220);
    /* align-items: ; */
    padding: 12px;
    margin: 16px;
    width: 400px;
    height: 300px;
    border-radius: 12px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}